$background: #efefef;
$main_color: #1b1b1b;
$link_color: #383838;

body {
  font-family: "new century schoolbook";
  background-color: $background;
  color: $main_color;
}
h1 {
  text-align: center;
}
.sub_header {
  text-align: center;
}
.nav {
  text-align: center;
  list-style: none;
  padding: 1px;
  >li {
    display: inline;
    padding: 10px;
  }
}
a {
  &:link {
    color: $link_color;
  }
  &:visited {
    color: $link_color;
  }
  &:hover {
    color: rgb(0, 0, 0);
  }
  &:active {
    color: rgb(0, 0, 0);
  }
}
.section {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
footer {
  text-align: center;
}
